{% extends 'tag_analytics/base.html' %}
{% load extras %}

{% block content %}

{% block breadcrumb %}
	<a href="{% url 'index' %}">Home</a> >
	Global Groups</a>
{% endblock %}

{% if globalgroup_list %}

    <ul class="globaltag_list_alpha">
    {% for char in globalgroup_list.chars %}
        {% resolve char globalgroup_list as value %}
        {% if value.count > 0 %}
            <li><div class="alpha">{{ char|upper }}</div>
            {% for gg in value %}
                <a href="{% url 'globalgroup' gg.id %}">{{ gg.name }} ({{ gg.number_of_datasets }})</a> , 
            {% endfor %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>

{% else %}
    <p>No groups found!!! :(</p>
{% endif %}
{% endblock %}
