{% extends 'tag_analytics/base.html' %}

{% load extras %}

{% block content %}

{% block breadcrumb %}
	<a href="{% url 'index' %}">Home</a> >
	Global Tags</a>
{% endblock %}

{% if globaltag_list %}

    <ul class="globaltag_list_alpha">
    {% for char in globaltag_list.chars %}
        {% resolve char globaltag_list as value %}
        {% if value.count > 0 %}
        <li><div class="alpha">{{ char|upper }}</div>
        {% for gt in value %}
            <a href="{% url 'globaltag' gt.id %}">{{ gt.name }}</a> ({{gt.number_of_datasets }}), 
        {% endfor %}
        <a href="{% url 'globaltag_list_alpha' char %}">see more ...</a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>

{% else %}
    <p>No tags found!!! :(</p>
{% endif %}

{% endblock %}
