{% extends 'tag_analytics/base.html' %}

{% block header %}
  <link rel="alternate" type="application/rdf+xml" href="http://{{ request.get_host }}{% url 'semanticgroup_rdf' globalgroup.id %}"/>
{% endblock %}

{% block content %}

{% block breadcrumb %}
	<a href="{% url 'index' %}">Home</a> >
	<a href="{% url 'globalgroup_list' %}">Global Groups</a> > 
	{{ globalgroup.name }}
{% endblock %}

<p><a href="{% url 'semanticgroup_rdf' globalgroup.id %}">RDF</a></p>

<h1>{{ globalgroup.name }}</h1>
<p class="URI">URI: <a href="{{ globalgroup.uri }}">{{ globalgroup.uri }}</a></p>

<h2>Global Tags</h2>
<ul class="inline_list">
{% for gt in globalgroup.globaltag_set.all %}
	<li><a class="tag globaltag" href="{% url 'globaltag' gt.id %}">{{ gt.name }} ({{gt.tags.count}})</a>
	</li>
{% endfor%}
</ul>

{% if globalgroup.groups.count > 0 %}
<h2>Local Groups</h2>
<ul class="inline_list">
{% for g in globalgroup.groups.all %}
	<li><a class="group localgroup" href="{{ g.load_round.open_data_portal.url }}/group/{{ g.name }}">{{ g.display_name }} ({{g.dataset_set.count}})</a>
	</li>
{% endfor%}
</ul>
{% endif %}

<h2>Datasets</h2>
{% for d in globalgroup.first_datasets %}
	<ul>
		{% include "tag_analytics/snippets/dataset2.html" %}
	</ul>
{% endfor%}

<p><a href="{% url 'faceted_search' %}?q={{globalgroup.name}}&selected_facets=globalgroups_exact:{{globalgroup.name}}">See all {{ globalgroup.dataset_count }} datasets related to this group.</p>







{% endblock %}
