{% extends 'tag_analytics/base.html' %}

{% load extras %}

{% block content %}

{% print_time %}

{% block breadcrumb %}
	<a href="{% url 'index' %}">Home</a> >
	Global Tags</a>
{% endblock %}

{% if globaltag_list %}

    <ul class="globaltag_list_alpha">
    {% for char in globaltag_list.chars %}
        <li><div class="alpha">{{ char|upper }}</div>
        {% resolve char globaltag_list as value %}
        {% for gt in value %}
            <a href="{% url 'globaltag' gt.id %}">{{ gt.name }}</a> ({{gt.dataset_count }})
        {% endfor %}
        <a href="{% url 'globaltag_list_alpha' char %}">See more ...</a>
        </li>
    {% endfor %}
    </ul>

{% else %}
    <p>No tags found!!! :(</p>
{% endif %}
{% print_time %}
{% endblock %}
