{% extends 'tag_analytics/base.html' %}

{% block content %}

{% block breadcrumb %}
	<a href="{% url 'index' %}">Home</a> >
	<a href="{% url 'globalgroup_list' %}">Global Groups</a> > 
	{{ globalgroup.name }}
{% endblock %}


<h1>{{ globalgroup.name }}</h1>
<p class="URI">URI: <a href="{{ globalgroup.uri }}">{{ globalgroup.uri }}</a></p>

<h2>Global Tags</h2>
<ul class="inline_list">
{% for gt in globalgroup.globaltag_set.all %}
	<li><a class="tag globaltag" href="{% url 'globaltag' gt.id %}">{{ gt.name }} ({{gt.tags.count}})</a>
	</li>
{% endfor%}
</ul>

{% if globalgroup.groups.count > 0 %}
<h2>Local Groups</h2>
<ul class="inline_list">
{% for g in globalgroup.groups.all %}
	<li><a class="group localgroup" href="{{ g.load_round.open_data_portal.url }}/group/{{ g.name }}">{{ g.display_name }} ({{g.dataset_set.count}})</a>
	</li>
{% endfor%}
</ul>

<h2>Datasets</h2>
{% for g in globalgroup.groups.all %}
	<p>{{ g.load_round.open_data_portal.url }} ({{ g.display_name }})<p>
	<ul>
	{% for d in g.dataset_set.all %}
		<li class="dataset">
		<h3><a href="{{ d.get_url }}">{{ d.display_name }}</a></h3>
		<p> {{ d.description }}</p>
		{% for t in d.tag_set.all %}
		<a class="tag localtag" href="{{ d.load_round.open_data_portal.url }}/dataset?tags={{ t.name }}">{{ t.display_name }}</a>
		{% endfor%}		
		</li>
	{% endfor%}
	</ul>
{% endfor%}

{% endif %}






{% endblock %}
