{% extends 'tag_analytics/base.html' %}
{% load range %}

{% block content %}

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript">
    // In a perfect world, this would be its own library file that got included
    // on the page and only the ``$(document).ready(...)`` below would be present.
    // But this is an example.
    var Autocomplete = function(options) {
      this.form_selector = options.form_selector
      this.url = options.url || '{% url 'autocomplete' %}'
      this.delay = parseInt(options.delay || 300)
      this.minimum_length = parseInt(options.minimum_length || 3)
      this.form_elem = null
      this.query_box = null
    }

    Autocomplete.prototype.setup = function() {
      var self = this

      this.form_elem = $(this.form_selector)
      this.query_box = this.form_elem.find('input[name=q]')

      // Watch the input box.
      this.query_box.on('keyup', function() {
        var query = self.query_box.val()

        if(query.length < self.minimum_length) {
          return false
        }

        self.fetch(query)
      })

      // On selecting a result, populate the search field.
      // this.form_elem.on('click', '.ac-result', function(ev) {
      //   self.query_box.val($(this).text())
      //   $('.ac-results').remove()
      //   return false
      // })
    }

    Autocomplete.prototype.fetch = function(query) {
      var self = this

      $.ajax({
        url: this.url
      , data: {
          'q': query
        }
      , success: function(data) {
          self.show_results(data)
        }
      })
    }

    Autocomplete.prototype.show_results = function(data) {
      // Remove any existing results.
      $('.ac-results').remove()

      var results = data.results || []
      var results_wrapper = $('<div class="ac-results"></div>')
      var base_elem = $('<div class="result-wrapper"><a href="#" class="ac-result"></a></div>')

      if(results.length > 0) {
        for(var res_offset in results) {
          var elem = base_elem.clone()
          // Don't use .html(...) here, as you open yourself to XSS.
          // Really, you should use some form of templating.
          url = '{% url 'search' %}' + '?q=' + results[res_offset]
          // elem = elem.html().replace("#",url)
          elem.find('.ac-result').attr("href",url)
          elem.find('.ac-result').text(results[res_offset])
          
          results_wrapper.append(elem)
        }
      }
      else {
        var elem = base_elem.clone()
        elem.text("No global tags found. Press search to look for datasets, tags and groups.")
        results_wrapper.append(elem)
      }

      this.query_box.after(results_wrapper)
    }

    $(document).ready(function() {
      window.autocomplete = new Autocomplete({
        form_selector: '.autocomplete-me'
      })
      window.autocomplete.setup()
    })
  </script>

{% block breadcrumb %}
  <a href="{% url 'index' %}">Home</a> >
  Search
{% endblock %}

   <h1>Search</h1>

    <form method="get" action="{% url 'search'%}" class="autocomplete-me" autocomplete="off">
        <table>
            {{ form.as_ul }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
    </form>
        {% if query %}
            <h3>Results</h3>
        {% with page_object as results %}
            {% regroup results|dictsort:"verbose_name_plural" by verbose_name_plural as grouped_objects %}
            {% for ct in grouped_objects %}
                {{ ct.grouper }}
				<ul>
				{% if ct.grouper == "Datasets" %}
		            {% for result in ct.list|range:'0#5' %}
						{% include "tag_analytics/snippets/dataset.html" %}
		            {% endfor %}
					<a href="{% url 'search_specific' %}?q={{query}}&models=tag_analytics.dataset" >See more datasets</a>

				{% elif ct.grouper == "Global groups" %}
		            {% for result in ct.list|range:'0#5' %}
                  {% include "tag_analytics/snippets/globalgroup.html" %}
		            {% endfor %}
					<a href="{% url 'search_specific' %}?q={{query}}&models=tag_analytics.globalgroup" >See more global groups</a>

				{% elif ct.grouper == "Global tags" %}
		            {% for result in ct.list|range:'0#5' %}
                  {% include "tag_analytics/snippets/globaltag.html" %}
		            {% endfor %}
					<a href="{% url 'search_specific' %}?q={{query}}&models=tag_analytics.globaltag" >See more global tags</a>
				{% elif ct.grouper == "Tags" %}
		            {% for result in ct.list|range:'0#5' %}
                  {% include "tag_analytics/snippets/tag.html" %}
		            {% endfor %}
					<a href="{% url 'search_specific' %}?q={{query}}&models=tag_analytics.tag" >See more tags</a>
				{% endif %}
            
				</ul>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
        {% endwith %}
		{% endif %}
{% endblock %}
