body{
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
#header {
	height: 30px;
	background: red;
	color: yellow;
	text-align: center;
	padding: 20px;
	font-size: 20pt
}
#footer {
	height: 30px;
	background: red;
	color: yellow;
	text-align: center;
	padding: 20px;
	font-size: 12pt
}
#menu-back {
	background: #DDDDDD;
	width:100%;
}
#menu {
	margin: 0px auto;
	width:900px;
	height: 20px;
	padding: 10px 0;
}

#menu ul,#menu li {
	display:inline;
}
#menu li{
	margin: 0px;
	padding: 5px 20px;
	border-left: 2px solid black; 
	border-right: 2px solid black; 
}
#menu li:hover{
	background: white;
}

a.tag{
    display: inline-block;
    margin-bottom: 4px;
    color: #111111;
    background-color: #f6f6f6;
    padding: 1px 10px;
    border: 1px solid #dddddd;
    border-radius: 100px;
    box-shadow: inset 0 1px 0 #ffffff;
}
a.tag:hover{
	background: white;
}
a.globaltag{
	background-color: #a7a7a7;
}
a.localtag{
    background-color: #f6f6f6;
}
a.group{
    display: inline-block;
    margin-bottom: 4px;
    color: #111111;
    background-color: #d0d0d0;
    padding: 1px 10px;
    border: 1px solid #000;
}
a.group:hover{
	background:white;
}
a.globalgroup{
    background-color: #d0d0d0;
}

a.localgroup{
    background-color: #c0c0c0;
}

.localgroup{
	background-color: #ffbb8d;
}

.dataset {
	background: #CCC;
	margin: 10px 0px;
	list-style: none;
	padding: 15px;
	border-radius: 15px;
	width: 80%
}

.dataset h3 {
	font-size: inherit;
	font-weight: bold;
	margin: 0;
}

h3.portal_title {
	font-size: large;
	font-weight: normal;
	margin-left: 40px;
	background-color: blanchedalmond;
	width: 80%;
	padding: 5px 0px;
	text-align: center;
	border-radius: 15px;
}

.dataset .tag {
	font-size: small;
}

ul.inline_list, ul.inline_list li{
	display:inline;
}

ul#id_models {
	display:inline-flex;
	list-style: none;
}

#id_q {
	border: 1px solid blue;
	padding: 5px;
	width: 400px;		
}

/* facets*/
#facets {
    float:left;
    width: 30%
    min-width: 250px;
}
#search_results {
    float:right;
    width: 70%;
}
#wrapper {
    display: inline-block;
}

.button {
	text-align: center;
	text-decoration: none;
	border: 1px solid black;
	padding: 8px;
	margin: 5px;
	background: #FFF;
	border-radius: 5px;
	font-weight: bold;
}

.radio_question{
	border-top: 1px solid black;
	text-align: center;
	width: 100%;
}

.form_wrapper{
    display: inline-block;
    background: #EEE;
    padding: 10px;
    border: 1px solid red;
    margin: 10px 100px;
}

.subject_answers{
	width: 80%;
	margin: 0 auto;
}

.subject_answers td{
	border: 1px solid black;
	text-align: center;
}

ul.globaltag_list_alpha{
	list-style: none;
}

div.alpha{
	width: 50px; 
	height: 50px; 
	font-size: 200%; 
	display: inline-block;
}

div.content_wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 0 50px;
	/*border: 1px solid black; */
	border-radius: 10px;
}